<a class="toggle-description-edit">Edit the description...</a>
<form action="/card/{{id}}" method="post" id="card-nodescription-form">
  <fieldset>
    <textarea class="card-description-ta" name="cardDescription"></textarea>
  </fieldset>
  <fieldset>
    <input id="nodescription-save" type="button" value="Save">
    <a class="close" id="nodescription-close" href="#"></a>
  </fieldset>
</form>
