<div class="card-extended-container">
  <a class="close" id="close-parent"></a>

  <div class="card-actions-menu">
    <h3>Add</h3>
    <ul class="extended-actions">
      <li id="card-members">Members</li>
      <li id="card-labels">Labels</li>
      <li id="card-checklist">Checklist</li>
      <li id="card-due">Due Date</li>
      <li id="card-attachment">Attachment</li>
    </ul>
    <h3>Actions</h3>
    <ul class="extended-actions">
      <li id="card-move">Move</li>
      <li id="card-copy">Copy</li>
      <li id="card-subscribe" data-id="{{id}}">Subscribe<span id="card-subscribe-status"></span></li>
      <li id="card-archive">Archive</li>
    </ul>
  </div>

  <div class="card-info">
    <input type="text" class="editable-name" value="{{card_name}}">
    <label class="cards-list">in list <span>{{list_name}}</span></label>
    <section id="card-description-view"></section>
  </div>

  <div class="card-comment-form">
    <h3>Add Comment</h3>
    <form action="/comments" method="post" id="new-comment-form">
      <input type="hidden" name="cardID" value="{{id}}">
      <textarea name="newComment" placeholder="Write a comment..."></textarea>
      <input id="new-comment" class="disabled-submit" type="submit" value="Send">
    </form>
  </div>

  <div class="card-comments">
    <h3>Comments</h3>
  </div>

  <div class="card-activity">
  </div>
</div>
<div id="second-overlay"></div>
