<div class="front-card-labels"></div>
<a class="card-title" href="#">{{card_name}}</a>
<span class="card-due-date"></span>
<span class="card-comments-count"></span>
<a class="card-edit" href="#"></a>
