<div class="generic-form" id="date-modal">
  <form action="/change_date" method="post">
    <a class="close"></a>
    <h3 class="actions-header">Change Due Date</h3>
    <fieldset>
      <input type="text" id="datetimepicker" name="newDate">
    </fieldset>

    <fieldset>
      <input type="submit" value="Save">
      <input type="button" value="Reset">
    </fieldset>
  </form>
</div>
<div id="third-overlay"></div>
