<div>
  <a class="close"></a>
  <h3 class="actions-header">List Actions</h3>
</div>
<div>
  <a class="list-action add-card" href="#">Add Card...</a>
  <a class="list-action copy-list" href="#">Copy List...</a>
  <a class="list-action move-list" href="#">Move List...</a>
  <a class="list-action subscribe" href="#">Subscribe</a>
</div>
<div class="mass-list-actions">
  <a class="list-action move-all" href="#">Move All Cards in This List</a>
  <a class="list-action archive-all" href="#">Archive All Cards in This List</a>
</div>
<div>
  <a class="list-action archive-list" href="#">Archive This List</a>
</div>
