<form method="post" action="/lists">
  <fieldset>
    <input type="text" name="listName" placeholder="Add a list" autofocus>
    <input type="submit" value="Save">
    <a href="#"></a>
  </fieldset>
</form>
<span class="placeholder-new-list">Add a list</span>
