<div id="nav">
  <li>
    <a id="boards-button" class="nav-button" href="#">Boards</a>
  </li>
  <li>
    <input id="card-search" class="nav-button" type="search" placeholder="Search">
  </li>
  <li id="logo"></li>
  <li class="right-submenu">
    <a id="board-notifications" class="nav-button" href="#"></a>
  </li>
  <li class="right-submenu">
    <a id="account-board-button" class="nav-button" href="#"></a>
  </li>
  <li class="right-submenu">
    <a id="new-board-button" class="nav-button" href="#"></a>
  </li>
</div>
<div id="search-results">
</div>
<div id="notifications">
  <a class="close" id="notifications-close"></a>
</div>
